body {
    font-family: Arial;
    font-size: 24px;
    font-weight:bold;
    margin: 20px 10% 20px 10%;
    color: white;
}

button {
    font-size: 24px;
    margin: 10px;
    border-radius: 10px;
    border-color: #86B404 !important;
    background-color: #4B610B !important;
    color: #fff;
}

#colorInput {
    font-size:24px;
}

#addColorButton {
    font-size: 24px;
    margin: 10px;
    border-radius: 10px;
    border-color: #86B404;
    background-color: #4B610B;
    color: #fff;
}

img {
    margin:10px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-style: solid;
}

figcaption {
    text-align: center;
    font-size: 16px;
}

.imgContainer {
    float: left;
}